* {
    primary: #e6b6f2;
    primary-fixed: #f9d8ff;
    primary-fixed-dim: #e6b6f2;
    on-primary: #3c1849;
    on-primary-fixed: #2e0a3c;
    on-primary-fixed-variant: #5d3769;
    primary-container: #7e558a;
    on-primary-container: #ffffff;
    secondary: #d5c0d7;
    secondary-fixed: #f2dcf3;
    secondary-fixed-dim: #d5c0d7;
    on-secondary: #312334;
    on-secondary-fixed: #241727;
    on-secondary-fixed-variant: #504153;
    secondary-container: #705f73;
    on-secondary-container: #ffffff;
    tertiary: #f5b7b3;
    tertiary-fixed: #ffdad7;
    tertiary-fixed-dim: #f5b7b3;
    on-tertiary: #421d1b;
    on-tertiary-fixed: #331110;
    on-tertiary-fixed-variant: #653a37;
    tertiary-container: #885755;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #580003;
    error-container: #c32220;
    on-error-container: #ffffff;
    surface: #161217;
    on-surface: #eee4eb;
    on-surface-variant: #cfc3cd;
    outline: #9d939d;
    outline-variant: #6a626a;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #eae0e7;
    inverse-on-surface: #342f34;
    inverse-primary: #6f497c;
    surface-dim: #161217;
    surface-bright: #423c42;
    surface-container-lowest: #0e0a0f;
    surface-container-low: #1f1b20;
    surface-container: #262127;
    surface-container-high: #312c31;
    surface-container-highest: #3c373c;
}